<!DOCTYPE html>
<html lang="de-CH">
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="JC Development optimiert BIM-Planungsprozesse. Mit digitalen Tools planen Sie was früher Tage dauert in Stunden. Wir arbeiten überwiegend mit Allplan und haben für Allplan SmartParts, Python Parts und native Plug-Ins entwickelt.">
  <title>{{ page.meta_title | default: page.title }} | JC Development</title>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/styles.css">
  <script src="{{ site.url }}/assets/js/turbolinks.js" defer></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbzcIXmPvUh4voaIoCbmdws2HVZROADfA" data-turbolinks-eval="false" defer></script>
</head>
<body>
  {% if page.background %}
    <video class="bg-video" src="https://media.istockphoto.com/videos/big-flock-of-many-black-birds-flying-against-the-morning-sky-video-id610071972"></video>
  {% endif %}   
  <header class="header" data-turbolinks-permanent>
    <a href="{{ site.url }}" class="muted-link">
      <img src="{{ site.url }}/assets/img/logo.svg" alt="JC Development" width="200">
    </a>
  </header>
  <div class="wrapper">
    <main class="main">
      {{ content }}
    </main>
  </div>
  <nav role="navigation" class="menu {% if page.background %}menu--no-bg{% endif %}" data-turbolinks-permanent>
    {% for item in site.menu %}
    <a href="{{ site.url }}{{ item.url }}" class="menu__a {% if item.url == page.url %}menu__a--active{% endif %}">{{ item.title }}</a>
    {% endfor %}
  </nav>
</body>
</html>
