<!DOCTYPE html>
<html lang="de-CH">
<head>
  <meta charset="utf8">
  <title>{{ page.title }} | JC Development AG</title>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/styles.css">
  <meta name="description" content="">
  <script src="{{ site.url }}/assets/js/turbolinks.js"></script>
</head>
<body>
  <header class="header">
    <a href="{{ site.url }}">
      <img src="{{ site.url }}/assets/img/logo.svg" alt="JC Development" width="200">
    </a>
  </header>
  <div class="wrapper">
    <main class="main">
      {{ content }}
    </main>
  </div>
  <menu class="menu">
    {% for item in site.menu %}
    <a href="{{ site.url }}{{ item.url }}" class="menu__a {% if item.url == page.url %}menu__a--active{% endif %}">{{ item.title }}</a>
    {% endfor %}
  </menu>
</body>
</html>
