<!DOCTYPE html>
<html lang="de-CH">
<head>
  <meta charset="utf8">
  <title>{{ page.meta_title | default: page.baseurl }} | JC Development AG</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
  <meta name="description" content="">
  <script src="{{ site.baseurl }}/assets/js/turbolinks.js" defer></script>
</head>
<body>
  <header class="header">
    <a href="{{ site.baseurl }}" class="muted-link">
      <img src="{{ site.baseurl }}/assets/img/logo.svg" alt="JC Development" width="200">
    </a>
  </header>
  <div class="wrapper">
    <main class="main">
      {{ content }}
    </main>
  </div>
  <menu class="menu">
    {% for item in site.menu %}
    <a href="{{ site.baseurl }}{{ item.url }}" class="menu__a {% if item.url == page.url %}menu__a--active{% endif %}">{{ item.title }}</a>
    {% endfor %}
  </menu>
</body>
</html>
